<div>
    <div class="row" style="margin-top:20px;" >
        <div class="page-header text-center">
            <h1>CROSSWORD QUIZ</h1>
        </div>
    </div>

    <!-- Creating a row for every field with custom images-->
    <div class="row" style="margin-top:20px;">
        <table class="col-xs-12" >
            <tr ng-repeat="field in tableWidth()" ng-class="{'selected':$index == selectedRow}"  ng-click="setClickedRow($index)" >
                <!--<td class="col-xs-1" ng-repeat="letter in field.textFieldAnswer track by $index" style="background-color: rgba(200,200,200,0.5); position: relative">-->
                <td class="col-xs-1"  ng-repeat="letter in field track by $index" ng-style="{'background-color':(isIndexGrey($parent.$index,$index)?(isWordCorrect($parent.$index,field)?'rgba(0,255,0,0.5)':'rgba(75,75,75,0.5)'):'none'),'border':(isIndexAnswerCol($parent.$index,$index)?'2px solid #003366':'none')}" style="text-align: center;  position: relative;">
                    <div style="font-size: 48px; height: 72px;" >{{letter}} </div>
                    <!--<div>{{field}}</div>-->
                </td>
            </tr>
        </table>
        <!--<h1 class="text-center">{{selectedRow}}</h1>-->
        <!--<div>{{tableWidth()}}</div>-->
        <!--<div>{{crosswordTextFieldAnswers}}</div>-->
        <!--<div>{{crosswordArray}}</div>-->
    </div>

    <!-- Textarea with the quizText of the selected crosswordTextField-->
    <div  class="row" style="margin-top:20px;">
        <div class="col-xs-2"></div>
        <!--<textarea class="form-control col-xs-8 text-center " ng-model="selectedField.quizText" readonly style="resize: none; border: hidden;" ></textarea>-->
        <div class="col-xs-8 text-center" style="background-color: lightgrey" ><h1>{{crosswordTextFields[selectedRow].quizText}}</h1></div>
        <div class="col-xs-2"></div>
    </div>
    <!-- Input field for altering textFieldAnswers for selected row-->
    <div class="row" style="margin-top:20px;">
        <div class="col-xs-2"></div>
        <input class="col-xs-8 input-lg" data-ng-trim="false"  ng-model="selectedField.textAnswer" maxlength="{{selectedField.length}}" capitalize>
        <div class="col-xs-2"></div>
    </div>
    <!-- Button that submits the current answer to the server and sends the user onwards-->
    <div class="row text-center" style="margin-top:20px; margin-bottom:20px;">
        <div class="col-xs-4"></div>
        <button class="col-xs-4 btn btn-success btn-lg">Submit</button>
        <div class="col-xs-4"></div>
    </div>
</div>
